node_modules
*copy*

__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
pytest_cache/
.pytest_cache/
*.cover
*.log